@media (max-width:400px) {
	.wrap__text {
		font-size: 16px;
	}
}
@media (min-width:401px) and (max-width:599px) {
	.wrap__text {
		font-size: 22px;
	}
}
@media (min-width:600px) and (max-width:767px) {
	.wrap__text {
		font-size: 32px;
	}
}
@media (min-width:768px) and (max-width:950px) {
	.wrap__text {
		font-size: 40px;
	}
}
@media (min-width:951px) and (max-width:1050px) {
	.wrap__text {
		font-size: 48px;
	}
}
@media (min-width:1051px) {
	.wrap__text {
		font-size: 56px;
	}
}